.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 87.2%;
  background: #f7f2f8;
  height: 8rem;
  border-radius: 1rem;

  margin-top: 1.84729vh;
}
