* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Spartan;
}

.conteiner {
  width: 100%;
  /* 1530px */
  /* height: 188.4236vh;  */
  height: 153rem;
  display: flex;
  justify-content: center;
  align-items: initial;
  padding-top: 5rem;
}

.content {
  width: 100%;
  /* 1430px */
  /* height: 176.10837vh; */
  height: 143rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.topInfo {
  /* 580px */
  /* height: 71.42857vh;  */
  background: #fff;
}

/* .infoText {
  266px
  height: 32.7586vh;
  height: 29.91131vh;
} */

.infoText h1 {
  margin-top: 3.1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.3rem;
  text-align: center;
  padding: 0 5.6rem;
  color: #502050;
}

.infoText p {
  margin-top: 1rem;
  margin-left: 0.4rem;
  padding: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
  color: #937b92;
}

.infoStar {
  /*80px*/
  height: 38.546798vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.bottomInfo {
  /* 850px */
  /* height: 104.6798vh;  */
  height: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
}
